div#takephoto {


  min-height: 180px;
  width: 100vw;
  background-color: $light-gray;
  color: $text-color;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;


  .camera {
    @include icon-background-image('camera.icon');
  }

  .preview-panel {
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: flex-start;
    justify-content: flex-start;
    align-items: center;
    background: transparent;
    width: 280px;
    border-radius: 5px;
  }

  .preview-box {
    margin-right: 5px;
    margin-left: 5px;
    width: 80px;
    height: 80px;
    opacity: 1;
    @include icon-background-image('camera.icon');
  }

  .dropzone-previews {
    pointer-events: none;
    position: absolute;
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: flex-start;
    justify-content: flex-start;
    align-items: center;
  }

  .dropzone-preview-box {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    width: 80px;
    height: 80px;
    margin-right: 5px;
    margin-left: 5px;
    border-radius: 5px;
    img {
      max-width: 160px;
      height: auto;
      min-height: 100%;
      -ms-transform: rotate(90deg); /* IE 9 */
      -webkit-transform: rotate(90deg); /* Chrome, Safari, Opera */
      transform: rotate(90deg);
    }
  }

  a, p, h1 {
    width: 300px;
    color: $text-color;
    text-align: center;
  }

  form {
    .inputimage {
      width: 0.1px;
      height: 0.1px;
      opacity: 0;
      overflow: hidden;
      position: absolute;
      z-index: -1;
    }
    .inputimage + label {
      display: inline-block;
    }
    .buttonlabel {
      width: 100%;
      height: 100%;
    }
  }

  button {
    margin-top: 10%;
    width: 80%;
    height: 50px;
    background-color: $menu-button-color-dark;
    border: none;
    color: $text-color-invert;
    font-family: $bebas;
    font-weight: bold;
    font-size: 1.2em;
  }
  
}