// Fonts
$body-font-stack: $fakt;
$navigation-font-stack: $bebas;
$header-font-stack: $bebas;

// Colors

$text-color: #484851;
$text-color-invert: #FFF;
$text-color-highlight: #7E5FA9;

$background-color: #fff;
$background-color-invert: #6C4797;
$gradient-inner: #B39BD1;
$gradient-outer: #603B8D;

$menu-button-color-light: #AD97C5;
$menu-button-color-dark: #452155;
$menu-button-color-medium: #7E5FA9;

$titlebar-background-color: #7E5FA9;

$red: #E15143;
$green: #5CB367;
$gray: #D0D1D1;
$light-gray: #F1F1F1;

$bottom-nav-height: 40px;
$titlebar-height: 70px;